<p id="notice"><%= notice %></p>

<h1>Avis</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Author</th>
      <th>Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @avis.each do |avi| %>
      <tr>
        <td><%= avi.title %></td>
        <td><%= avi.content %></td>
        <td><%= avi.author %></td>
        <td><%= avi.rate %></td>
        <td><%= link_to 'Show', avi %></td>
        <td><%= link_to 'Edit', edit_avi_path(avi) %></td>
        <td><%= link_to 'Destroy', avi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Avi', new_avi_path %>
