<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @avi.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @avi.content %>
</p>

<p>
  <strong>Author:</strong>
  <%= @avi.author %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @avi.rate %>
</p>

<%= link_to 'Edit', edit_avi_path(@avi) %> |
<%= link_to 'Back', avis_path %>
